*{
    margin:0;
    padding:0; 
    box-sizing: border-box;
    font-style: 'montserrat' ;
    color:white;

}
.nav{
    height:100px;
    width:100%;
    /* background-color:lightblue; */
    display:flex;
    align-items:center;
    justify-content:flex-start;
    position:fixed;
    padding:15px;
    gap: 45px;
    z-index: 99;
}
.nav img{
    height:90px;
}
.nav h4{
    text-transform: uppercase;
}
video{
    height:100%;
    width:100%;
    object-fit: cover;
    position:fixed;
}
 .main{
    position:relative;
    background-color:rgba(0 0 0 0.34);
}
.page1{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    height: 100vh;
    width:100%; 
    text-align: center;
}
.page1 h1{
    font-size: 90px;
    font-weight:800;
    text-shadow: 5px 5px 5px black;

}
.page1 h2{
    font-size: 40px;
    font-weight:500;
    margin:4px;
}
.page1 p{
    font-size: 22px;
    font-weight:300;
    width:40%;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px chocolate;
}
.page2{
    height: 100vh;
    width:100%
}
.scroller{
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    text-transform: uppercase;
    overflow-x:auto;
    overflow-y:hidden;
    /* background-color: lightblue; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:skyblue; */
}
.scroller1{
    display:inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration:30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.scroller::-webkit-scrollbar{
    display:none;
}
.scroller1 h4{
    font-style: bold;
    color:transparent;
    display:inline-block;
    font-size:90px;
    padding:0px 15px;
    margin-right:8px;
    -webkit-text-stroke: 2px yellowgreen;
}
@keyframes scroll{
    from{
        transform:translateX(0)
    }
    to{
        transform:translateX(-100%);
    }
}
.scroller1 h4:hover{
    /* background: black; */
    color:yellowgreen;
}